!!! 5
html
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js")
    script(src="/javascripts/moment.js")
    script(src="/javascripts/waiting.js")
    
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
   body

    div.container
      h1 Waiting For The World To End
      hr

      div.waiting
        p waiting
        .this-long
          
